$secundary: #28AD47;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$grey: #000000 16%;
$grey2: #000000 20%;
$darkgrey1: #676767;
$darkgrey2: #7B7B7B;
$darkgrey3: #525252;
$darkgrey4: #575757;
$darkgrey4: #707070;
$dark-green: #27864f;
$couldwihte: #F7F7F7;
$green: #28AD47;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$theme-colors: (
    secondary: $green
);
