// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// Variables
@import 'variableslanding';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

header .top {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 16px 0 14px 35px;
}

header h1.logo {
    background: url("../images/logo.svg") no-repeat;
    height: 53px;
}

header .banner {
    background: url("../images/banner.png") no-repeat;
    background-size: 100%;
    color: $white;
    height: 688px;
}

header .banner .container-fluid {
    background: rgba(0, 0, 0, 0.3);
    height: 688px;
}

header .banner .called {
    text-align: left;
    font: Bold 55px/50px Montserrat;
    letter-spacing: 1.27px;
    opacity: 1;
    padding-top: 159px;
}

header .banner p {
    text-align: left;
    font: normal 14px/25px Montserrat;
    letter-spacing: 0.39px;
    opacity: 1;
    padding: 25px 0 5px 15px;
}

header .banner button {
    background: $green 0 0 no-repeat padding-box;
    border: none;
    border-radius: 37px;
    text-align: center;
    font: Bold 14px/35px Montserrat;
    font-weight: 900;
    letter-spacing: 0.36px;
    color: #FFFFFF;
    opacity: 1;
    padding: 0 70px;
}

header .banner button:hover {
    background: $dark-green 0 0 no-repeat;
    cursor: pointer;
}

header .banner p.text-small {
    font: normal 11px/25px Montserrat;
    letter-spacing: 0.28px;
}

header .subtitle {
    background: $couldwihte;
}

header .subtitle p {
    font: normal 15px/30px Montserrat;
    color: $darkgrey3;
    letter-spacing: 0;
    opacity: 1;
    margin: 20px 0;
}

header .subtitle p.getting {
    font: Bold 25px/45px Montserrat;
    color: $darkgrey1;
    letter-spacing: 0;
    opacity: 1;
}

header .subtitle p.getting > span {
    color: $green;
}

.content {
    padding-top: 30px;
}

.content .guesswork p {
    font: normal 14px/30px Montserrat;
    color: $darkgrey3;
    padding: 0;
}

.content .guesswork p.title-guesswork {
    text-align: center;
    font: Bold 25px/30px Montserrat;
    letter-spacing: 0.53px;
    color: $darkgrey1;
    opacity: 1;
}
